.header-list {
  list-style-type: none;
  font-size: 3rem;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;

}
.header-listItem {
  margin: 1rem;
  /*border-bottom: 3px solid #bab3ad;*/
  color: #bab3ad;

}

.header-listItem a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.header-listItem a:hover {
  border-bottom: 3px solid #bab3ad;
}
.header-listItem a:active {
  border-bottom: 3px solid #bab3ad;
}

.active {
  border-bottom: 3px solid #bab3ad;
}

.home {
  margin-top: 5rem;
  width: 60%;
  height: 80%;
}

.name {
  font-family: Kanit, sans-serif;
  displa: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.name span {
  margin-right: 2rem;
  transition: all .2s;
}
.name span:hover {
  font-size: 10.5rem;
}

.name--1, .name--2 {
  font-size: 10rem;
  background-image: linear-gradient(to right bottom, #f2b580,#ef770e );
  -webkit-background-clip: text;
  color: transparent;
}

.about {
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-figurecaption {
  font-size: 7rem;
}
.about-img {}

.about-par {
  flex-basis: 60%;
  font-size: 3rem;
}

.portfolio {
  margin-top: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

  .card {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3cdcd;
    box-shadow: 0 2rem 3rem rgba(117, 116, 116, .3);
  }


.contact {
  margin-top: 10rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50%;
  justify-content: space-around;
  align-content: center;
}

.contact-listItem {
  width: 30%;
  display: flex;
  justify-content: center;
}
