*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
  }

body{
  background-color: #1B1B1B;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 82.5%;
  }
}

@media only screen and (min-width: 920px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
